.carousel-inner {
    width: auto;
    height: 100px;
}

/*cards NOTICIAS RECENTES*/

.card {
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-text {
    flex-grow: 1;
}

.card .btn {
    margin-top: auto;
}

.card-img-top {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
}

